<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="./home.css">
    <title>Kings Royale || Home</title>

  </head>
  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse col-sm-4" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">nav <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">nav</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">nav</a>
        </li>
    </div>
    <div class="text-center col-sm-4" id="navbarSupportedContent logo">
      <h1><a href="index.html">Kings Royale</a></h1>
    </div>
    <div class="collapse navbar-collapse col-sm-4" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Login<span class="sr-only">(current)</span></a>
        </li>
    </div>
  </nav>
  <!-- Graphic -->
      <div style="width:100%;height:300px;border:1px solid #000; background-color: blue; text-align: center;">Graphic</div>

    </center> 
  <!-- Body -->
    <div class="row">
      <div class="col-sm-7" align="center">
          <p>I could hold Draenei Ruins and see across to Blood Elf Tower and freak out the offense. Bards have been my favorite class in MMOs since Dark Age of Camelot. I’m also a Guild Leader though, so I still would love the Idea of guild housing. Now, there’s a very lore-centric reason that Turbine chose to exclude female dwarves, and it’s not that they don’t exist. After that bit of shenanigans, Cool and I looked at buying another vendor set for my Shadow spec but I was having a lot of crashing issues as soon as I ported from Org to the Valley.

          Draenei have a fairly extant commitment to being Lightsworn children of the Naaru, as well as being universe-wide diaspora. I was accused earlier in the week of not knowing what a gold sink is. Qeynos is a bit more welcoming to me lately, always optimistic, while Freeport has a lot of sinister stories. My warlock is the first of the family to start the process of Daily Stacking building up a stack of twenty five daily quests to hand in for XP once the Expansion arrives. I will cover races and classes in just a moment since those are a bit more important.

          While it’s sometimes tricky to figure out how tough things are, everything here drops QL 10 gear, which is the highest QL I’m aware of. And I’m still playing EQ2 here and there and looking forward to Vanguard’s f2p move set for some time in August. Then my enemies are on me like white on rice. Just to remind me that an MMO isnt all sweetness and light, I encountered an Imperial L50 on Tatooine the other day. That run, we were going to kill Lich King 25 on Heroic mode. Newer and shinier isnt going to make you feel the nostalgia you crave when pondering the games of your past.</p>
        </div>
      
      <div class="col-sm-5" align="center">
        <p>I could hold Draenei Ruins and see across to Blood Elf Tower and freak out the offense. Bards have been my favorite class in MMOs since Dark Age of Camelot. I’m also a Guild Leader though, so I still would love the Idea of guild housing. Now, there’s a very lore-centric reason that Turbine chose to exclude female dwarves, and it’s not that they don’t exist. After that bit of shenanigans, Cool and I looked at buying another vendor set for my Shadow spec but I was having a lot of crashing issues as soon as I ported from Org to the Valley.

        Draenei have a fairly extant commitment to being Lightsworn children of the Naaru, as well as being universe-wide diaspora. I was accused earlier in the week of not knowing what a gold sink is. Qeynos is a bit more welcoming to me lately, always optimistic, while Freeport has a lot of sinister stories. My warlock is the first of the family to start the process of 'Daily Stacking' building up a stack of twenty five daily quests to hand in for XP once the Expansion arrives. I will cover races and classes in just a moment since those are a bit more important.

        While it’s sometimes tricky to figure out how tough things are, everything here drops QL 10 gear, which is the highest QL I’m aware of. And I’m still playing EQ2 here and there and looking forward to Vanguard’s f2p move set for some time in August. Then my enemies are on me like white on rice. Just to remind me that an MMO isn't all sweetness and light, I encountered an Imperial L50 on Tatooine the other day. That run, we were going to kill Lich King 25 on Heroic mode. Newer and shinier isn't going to make you feel the nostalgia you crave when pondering the games of your past.</p>
      </div>
    </div>
  </div>
  </body>
</html>
